# Environment file

# Set to true to enable dashboard access with http://localhost:$DASHBOARD_PORT
DASHBOARD_INSECURE=false

# Port to connect to the dashboard using http://localhost:$DASHBOARD_PORT
# Only works if DASHBOARD_INSECURE is set to true
DASHBOARD_PORT=8080

# Dashboard domain (example: traefik.domain.com)
DASHBOARD_DOMAIN=traefik.domain.com

# Login and password in "user:password_hash" format for BasicAuth
# $ must be escaped with a backslash
DASHBOARD_BASIC_AUTH="admin:\$apr1\$540rxqkt\$u4NGCr5JlcZKIeQPhJt5x1" # admin / admin
